
.creating-log-in-box{
    transition: all 1s ease;
      position: fixed;
      left: 35%;
      top: 30%;
      width: 30%;
      font-family: 'Helvetica';
      box-shadow: 1px 2px;
      border: 2px solid #a31621;
      border-radius: 10px;
      background-color: white;
}

.incorrect_entry{
    position: fixed;
    left: 35%;
    top: 50%;
    width: 30%;
    font-family: 'Helvetica';
}


img[src="IA_Logo.png"] {
  display: block;
  max-width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.signin {
  border-radius: 50px;
  background-color: #a31621;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  width: 140px;
  height: 35px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.signin span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signin span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signin:hover span {
  padding-right: 25px;
}

.signin:hover span:after {
  opacity: 1;
  right: 0;
}

.wrapper {
  margin-top: 30px;
  text-align: center;
  font-size: 4px;
}

body {
  background-color: #F1F1F1;
}

#vid {
  display: block;
  /*width: 100%;*/
  height: 100%;
  /* margin: auto;
  margin-top: -150px; */
  /*margin-top: 50px;*/
  position: fixed;
  top: 0;
  /* right: 0;
  bottom: 0; */
  /* min-width: 50%;
  min-height: 50%; */
}

#logo {
  width: 100%;
  /* height: 100%; */
  /* padding-top: 50px; */
}

@media all and (max-width: 600px) {
  .log-in-box {
    position: fixed;
    left: 25%;
    top: 50%;
    width: 50%;
    font-family: 'Helvetica';
    box-shadow: 1px 2px;
    border: 2px solid #a31621;
    background-color: white;
  }
}

input {
    width: 50%;
}

@media screen and (max-width: 1055px){
    /*input {*/
    /*    width: 45%;*/
    /*}*/
    .creating-log-in-box {
        transition: all 1s ease;
        position: fixed;
        left: 20%;
        top: 30%;
        width: 60%;
        min-width: 300px;
        font-family: 'Helvetica';
        box-shadow: 1px 2px;
        border: 2px solid #a31621;
        background-color: white;
    }
}

@media screen and (max-width: 945px) {
    .creating-log-in-box {
        transition: all 1s ease;
        position: fixed;
        left: 15%;
        top: 30%;
        width: 70%;
        min-width: 300px;
        font-family: 'Helvetica';
        box-shadow: 1px 2px;
        border: 2px solid #a31621;
        background-color: white;
    }
}
